.blog {
  &_posts {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 24px;
    margin-bottom: 48px;

    @media screen and (width <= 820px) {
      grid-template-columns: 100%;
    }
  }

  &_posts_column {
    display: flex;
    flex-flow: column;
    gap: 24px;
  }
}
