@import "@/styles/colors";

.aboutMe {
  display: flex;
  flex-flow: column;
  gap: 80px;

  @media screen and (width <= 520px) {
    gap: 48px;
  }

  & > div {
    display: flex;
    flex-flow: column;
    gap: 24px;

    & > p {
      margin: 0;
    }
  }

  &_photo {
    padding: 4px 4px 16px 4px;
    transform: rotate3d(1, 1, 1, 5deg);
    background-color: var($--white);
    border-radius: 8px;
    border: 1px solid var($--divider);
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px var($--drop-shadow);
    box-sizing: border-box;

    margin-right: 16px;
    @media screen and (width <= 520px) {
      margin-right: initial;
      margin-bottom: 16px;
    }

    > img {
      background-image: var($--radial-gradient);
      background-color: var($--info);
      border-radius: 4px;
    }
  }

  &_description {
    display: grid !important;
    grid-template-columns: auto 1fr;
    justify-items: center;
    gap: 32px !important;
    @media screen and (width <= 520px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      justify-items: center;
      gap: 16px !important;
    }
  }

  &_brief {
    display: flex;
    flex-flow: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &_contact {
    display: flex;
    flex-flow: row;
    gap: 16px;
    align-items: center;
    margin-top: 16px;
  }
}

.jobsExperience {
  border-left: 4px solid var($--text);
  padding-left: 24px;
  display: flex;
  flex-flow: column;
  gap: 48px;
  list-style: none;

  &_item {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &_bullet {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: var($--text);
    margin-left: -34px;
  }

  &_description {
    display: flex;
    flex-flow: column;
    gap: 8px;
  }

  &_technologies {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
  }
}

.skillsList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 48px;

  @media screen and (width <= 520px) {
    gap: 24px;
  }
  &_skillItem {
    display: flex;
    flex-flow: column;
    gap: 4px;
    align-items: center;
  }
}

.hobbies {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px !important;
  margin-bottom: 24px;
  @media screen and (width <= 520px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &_column {
    display: flex;
    flex-flow: column;
    gap: 8px !important;
  }

  &_item {
    height: auto;
    border-radius: 2px;
  }
}
