@import "@/styles/colors";

.aboutMe {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 80px;
  padding-top: 64px;

  & > div {
    display: flex;
    flex-flow: column;
    gap: 24px;

    & > p {
      margin: 0;
    }
  }

  &_brief {
    max-width: 60%;
    text-align: center;
    @media screen and (width <= 520px) {
      max-width: 100%;
    }
  }

  &_photo {
    background-image: var($--radial-gradient);
  }

  &_from {
    align-items: center;
  }
}

.jobsExperience {
  border-left: 4px solid var($--text);
  padding-left: 24px;
  display: flex;
  flex-flow: column;
  gap: 48px;
  list-style: none;

  &_item {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &_bullet {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: var($--text);
    margin-left: -34px;
  }

  &_description {
    display: flex;
    flex-flow: column;
    gap: 8px;
  }

  &_technologies {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
  }
}

.skillsList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 48px;

  @media screen and (width <= 520px) {
    gap: 24px;
  }
  &_skillItem {
    display: flex;
    flex-flow: column;
    gap: 4px;
    align-items: center;
  }
}

.hobbies {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px !important;
  margin-bottom: 24px;
  @media screen and (width <= 520px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &_column {
    display: flex;
    flex-flow: column;
    gap: 16px;
  }

  &_item {
    height: auto;
    border-radius: 2px;
  }
}
