@import "@/styles/reset";
@import "@/styles/colors";
@import "@/styles/mixins";
@import "@/styles/theme";
@import "@/styles/text";
@import "@/styles/mui";

html,
body,
main {
  scrollbar-color: var($--text);
  scrollbar-width: thin;
  background-color: var($--background);
  color: var($--text);
  font-family: var(--font-work-sans);
  height: fit-content;
  min-height: 100vh;
}

body {
  padding: 24px;
  box-sizing: border-box;
  color: var($--text);
  font-family: var(--font-work-sans);
}

main {
  max-width: 1080px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

h1,
h2,
h2,
h4,
h5,
h6 {
  font-family: var(--font-crimson-pro);
}

pre {
  width: 100%;
}
