@import "@/styles/colors";

.thenavbar {
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  &_content {
    display: flex;
    transition: 0.4s ease-in-out;
    z-index: 100;
    margin: 0 auto;
    border-radius: 4px;
    justify-content: space-between;
  }

  & a {
    color: var($--text);

    &:hover {
      color: var($--primary);
    }
  }

  &_navigation {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &_extras {
    display: flex;
    align-items: center;
  }

  &_menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;

    @media screen and (width <= 820px) {
      display: none;
    }
  }
}

.thenavbar_top {
  margin-bottom: 8px;
  background: var($--down-fade-gradient);
}

.top_reference {
  height: 1px;
}

.themobilenavbar {
  @media screen and (width > 820px) {
    display: none;
  }

  &_menu {
    width: 300px;
  }
}

.routeActive {
  color: var($--active) !important;
  & span {
    color: var($--active) !important;
  }
}
