@import "@/styles/colors";

.theFooter {
  position: sticky;
  top: 100%;
  background: var($--up-fade-gradient);
  width: 100%;
}

.theFooter_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media screen and (width <= 820px) {
    flex-flow: column;
    gap: 16px;
  }

  & > div {
    display: flex;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;

    & > span {
      display: flex;
      align-items: center;
      gap: 8px;
      box-sizing: border-box;
    }
  }
}
