@import "@/styles/colors";

.jobItem {
  display: flex;
  flex-flow: column;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--divider);
  padding-bottom: 16px;
  background-color: var(--contrast);
  text-decoration: none;

  &_info {
    padding: 8px 16px;
    display: flex;
    flex-flow: column;
    gap: 8px;

    &:hover > h5 {
      text-decoration: underline;
    }
  }

  &_meta {
    text-transform: uppercase;
  }

  &_image {
    border-radius: 4px 4px 0 0;
    width: 100%;
    min-height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    & > img {
      transition: transform 0.33s ease-in-out;
    }
  }

  &:hover > .jobItem_image > img {
    transform: scale(1.05);
  }

  &:hover {
    box-shadow: 0 0 10px 0 var(--divider);
  }
}

.workblue {
  background-image: var(--work-blue);
}

.workred {
  background-image: var(--work-red);
}

.workgreen {
  background-image: var(--work-green);
}

.workyellow {
  background-image: var(--work-yellow);
}
