@import "@/styles/colors";

.postItem {
  display: flex;
  gap: 16px;
  flex-flow: column;
  align-items: flex-start;
  //border-bottom: 1px solid var(--divider);
  padding: 32px;
  box-sizing: border-box;
  background-color: var(--contrast);
  border-radius: 4px;
  border: 1px solid var(--divider);

  @media screen and (width <= 820px) {
    width: 100%;
    padding: 16px;
  }

  // & > figure {
  //   margin: 0 auto;
  // }

  &_meta {
    display: flex;
    flex-flow: column-reverse;
    gap: 8px;
  }

  &_avatar {
    background-image: var($--highligh-gradient);
  }

  &_author {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &_more {
    border: 1px solid var(--primary);
    padding: 4px 8px;
    border-radius: 4px;
  }
}
