// Variable names 🍕
$--text-muted: --text-muted;
$--text: --text;
$--background: --background;
$--primary: --primary;
$--secondary: --secondary;
$--info: --info;
$--success: --success;
$--active: --active;
$--warning: --warning;
$--danger: --danger;
$--contrast: --contrast;
$--drop-shadow: --drop-shadow;
$--highligh-gradient: --highligh-gradient;
$--up-fade-gradient: --up-fade-gradient;
$--down-fade-gradient: --down-fade-gradient;
$--radial-gradient: --radial-gradient;
$--dark-gradient-transparent: --dark-gradient-transparent;
$--black: --black;
$--white: --white;
$--divider: --divider;
$--code-topbar: --code-topbar;
$--code-topbar-border: --code-topbar-border;
$--table-striped: --table-striped;
$--photo-gradient: --photo-gradient;
$--work-blue: --work-blue;
$--work-red: --work-red;
$--work-green: --work-green;
$--work-yellow: --work-yellow;
$--radial-background: --radial-background;

// Default theme
$theme-map-light: (
  $--text-muted: #5c5c5c,
  $--text: #0e0e0e,
  $--background: #f6f6f6,
  $--radial-background: radial-gradient(circle at 50% 50%, #ffffff 0%, #e0e0e0 100%),
  $--primary: #0369a1,
  $--secondary: #155e75,
  $--info: #638fee,
  $--active: #726ce2,

  $--warning: #ffc700,
  $--danger: #dc2626,
  $--success: #059212,

  $--contrast: #ffff,
  $--drop-shadow: rgba(0, 0, 0, 0.6),
  $--highligh-gradient: linear-gradient(45deg, #6558cc, #dc7689, #f9af39),
  $--up-fade-gradient:
    linear-gradient(0deg, rgba(173, 173, 173, 0.5), rgba(213, 213, 213, 0.6), rgba(253, 253, 253, 0.2)),
  $--down-fade-gradient:
    linear-gradient(
      0deg,
      rgba(253, 253, 253, 0.1),
      rgba(253, 253, 253, 0.5),
      rgba(253, 253, 253, 0.9),
      rgba(255, 255, 255, 1)
    ),
  $--radial-gradient: radial-gradient(circle, rgba(255, 148, 222, 1) 62%, rgba(255, 128, 200, 1) 78%),
  $--divider: #d6d6d6,
  $--code-topbar: #efe9e9,
  $--code-topbar-border: #cfcece,
  $--table-striped: #e3e3e3,
  $--photo-gradient: linear-gradient(180deg, #0369a1 0%, #81a2ea 100%),
  $--work-blue: linear-gradient(180deg, #97b9f2 10%, #c4e9fb 100%),
  $--work-red: linear-gradient(180deg, #e190ac 0%, #ffccbc 100%),
  $--work-green: linear-gradient(180deg, #82ff90 0%, #c8e7c9 100%),
  $--work-yellow: linear-gradient(180deg, #ceec45 0%, #f7e3a8 100%)
);

// Override the default light theme
$theme-map-dark: (
  $--text-muted: #999999,
  $--text: #f3f3f3,
  $--background: #030712,
  $--radial-background: radial-gradient(circle at 50% 50%, #111530 0%, #030712 100%),
  $--primary: #d62ad0,
  $--secondary: #e199e1,
  $--info: #fbb4f5,
  $--active: #f98dff,

  $--warning: #fff455,
  $--danger: #ef4444,
  $--success: #67ff64,

  $--contrast: #030817,
  $--drop-shadow: rgba(0, 0, 0, 0.9),
  $--highligh-gradient: linear-gradient(45deg, #9b59b6, #e74c3c, #f39c12),
  $--up-fade-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
  $--down-fade-gradient:
    linear-gradient(0deg, rgba(18, 18, 18, 0.1), rgba(18, 18, 18, 0.5), rgba(18, 18, 18, 0.9), rgba(9, 9, 9, 1)),
  $--radial-gradient: radial-gradient(circle, rgba(255, 148, 222, 1) 62%, rgba(255, 128, 200, 1) 78%),
  $--divider: #232323,
  $--code-topbar: #2e2634,
  $--code-topbar-border: #1d1e22,
  $--table-striped: #1a1a1a,
  $--photo-gradient: linear-gradient(180deg, #fbb4f5 0%, #d62ad0 100%),
  $--work-blue: linear-gradient(180deg, #b197ed 20%, #6548be 100%),
  $--work-red: linear-gradient(180deg, #d08872 0%, #9f204c 100%),
  $--work-green: linear-gradient(180deg, #a8e6cf 20%, #56ab2f 100%),
  $--work-yellow: linear-gradient(180deg, #ffeb3b 20%, #b28921 100%)
);

$theme-map-universal: (
  $--dark-gradient-transparent: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
  $--black: #000,
  $--white: #fff
);
