// Variable names 🍕
$--text-muted: --text-muted;
$--text: --text;
$--background: --background;
$--primary: --primary;
$--secondary: --secondary;
$--info: --info;
$--success: --success;
$--active: --active;
$--warning: --warning;
$--danger: --danger;
$--contrast: --contrast;
$--drop-shadow: --drop-shadow;
$--highligh-gradient: --highligh-gradient;
$--up-fade-gradient: --up-fade-gradient;
$--down-fade-gradient: --down-fade-gradient;
$--radial-gradient: --radial-gradient;
$--dark-gradient-transparent: --dark-gradient-transparent;
$--black: --black;
$--white: --white;
$--divider: --divider;
$--code-topbar: --code-topbar;
$--code-topbar-border: --code-topbar-border;
$--table-striped: --table-striped;

// Default theme
$theme-map-light: (
  $--text-muted: #5c5c5c,
  $--text: #0e0e0e,
  $--background: #f6f6f6,

  $--primary: #0369a1,
  $--secondary: #155e75,
  $--info: #638fee,
  $--active: #726ce2,

  $--warning: #ffc700,
  $--danger: #dc2626,
  $--success: #059212,

  $--contrast: #ffff,
  $--drop-shadow: rgba(0, 0, 0, 0.6),
  $--highligh-gradient: linear-gradient(45deg, #6558cc, #dc7689, #f9af39),
  $--up-fade-gradient:
    linear-gradient(0deg, rgba(173, 173, 173, 0.5), rgba(213, 213, 213, 0.6), rgba(253, 253, 253, 0.2)),
  $--down-fade-gradient:
    linear-gradient(
      0deg,
      rgba(253, 253, 253, 0.1),
      rgba(253, 253, 253, 0.5),
      rgba(253, 253, 253, 0.9),
      rgba(255, 255, 255, 1)
    ),
  $--radial-gradient: radial-gradient(circle, rgba(80, 157, 231, 1) 31%, rgba(90, 224, 245, 1) 78%),
  $--divider: #d6d6d6,
  $--code-topbar: #efe9e9,
  $--code-topbar-border: #cfcece,
  $--table-striped: #e3e3e3
);

// Override the default light theme
$theme-map-dark: (
  $--text-muted: #999999,
  $--text: #f3f3f3,
  $--background: #121212,

  $--primary: #d62ad0,
  $--secondary: #e199e1,
  $--info: #fbb4f5,
  $--active: #f98dff,

  $--warning: #fff455,
  $--danger: #ef4444,
  $--success: #67ff64,

  $--contrast: #0c0c0c,
  $--drop-shadow: rgba(0, 0, 0, 0.7),
  $--highligh-gradient: linear-gradient(45deg, #9b59b6, #e74c3c, #f39c12),
  $--up-fade-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
  $--down-fade-gradient:
    linear-gradient(0deg, rgba(18, 18, 18, 0.1), rgba(18, 18, 18, 0.5), rgba(18, 18, 18, 0.9), rgba(9, 9, 9, 1)),
  $--radial-gradient: radial-gradient(circle, rgba(255, 148, 222, 1) 62%, rgba(255, 128, 200, 1) 78%),
  $--divider: #232323,
  $--code-topbar: #2e2634,
  $--code-topbar-border: #1d1e22,
  $--table-striped: #1a1a1a
);

$theme-map-universal: (
  $--dark-gradient-transparent: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
  $--black: #000,
  $--white: #fff
);
