$unit: 8px;
$paddings: p, pr, pl, pt, pb, px, py;
$margins: m, mr, ml, mt, mb, mx, my;

@each $margin in $margins {
  .#{$margin} {
    @for $i from 1 through 10 {
      &--#{$i} {
        @if $margin == m {
          margin: #{$i * $unit};
        }
        @if $margin == mr {
          margin-right: calc($i * $unit);
        }
        @if $margin == ml {
          margin-left: calc($i * $unit);
        }
        @if $margin == mb {
          margin-bottom: calc($i * $unit);
        }
        @if $margin == mt {
          margin-top: calc($i * $unit);
        }
        @if $margin == mx {
          margin-left: calc($i * $unit);
          margin-right: calc($i * $unit);
        }
        @if $margin == my {
          margin-top: calc($i * $unit);
          margin-bottom: calc($i * $unit);
        }
      }
    }
  }
}

@each $padding in $paddings {
  .#{$padding} {
    @for $i from 1 through 16 {
      &--#{$i} {
        @if $padding == p {
          padding: calc($i * $unit);
        }
        @if $padding == pr {
          padding-right: calc($i * $unit);
        }
        @if $padding == pl {
          padding-left: calc($i * $unit);
        }
        @if $padding == pb {
          padding-bottom: calc($i * $unit);
        }
        @if $padding == pt {
          padding-top: calc($i * $unit);
        }
        @if $padding == px {
          padding-left: calc($i * $unit);
          padding-right: calc($i * $unit);
        }
        @if $padding == py {
          padding-top: calc($i * $unit);
          padding-bottom: calc($i * $unit);
        }
      }
    }
  }
}

.round--sm {
  border-radius: calc($unit / 4);
}

.round {
  border-radius: calc($unit / 2);
}

.round--xl {
  border-radius: $unit;
}

.round--xxl {
  border-radius: calc($unit * 2);
}

.circle {
  border-radius: 100%;
}
