@use "sass:list";
%content-font {
  font-family: var(--font-work-sans), sans-serif;
}

%heading-font {
  font-family: var(--font-crimson-pro), serif;
}

$heading-sizes: (
  --1: (
    52px,
    62px,
    700
  ),
  --2: (
    44px,
    54px,
    700
  ),
  --3: (
    36px,
    46px,
    700
  ),
  --4: (
    28px,
    38px,
    700
  ),
  --5: (
    24px,
    34px,
    700
  )
);

$text-content-sizes: (
  --xl: (
    20px,
    32px,
    normal
  ),
  --content: (
    16px,
    24px,
    normal
  ),
  --sm: (
    12px,
    20px,
    normal
  ),
  --xl-bold: (
    20px,
    32px,
    700
  ),
  --content-bold: (
    16px,
    24px,
    700
  ),
  --sm-bold: (
    12px,
    20px,
    700
  )
);

$colors: (
  "primary": var(--primary),
  "secondary": var(--secondary),
  "info": var(--info),
  "active": var(--active),
  "warning": var(--warning),
  "danger": var(--danger),
  "muted": var(--text-muted),
  "success": var(--success)
);

@mixin make-text-size-classes($prefix, $sizes) {
  @each $variant, $font-values in $sizes {
    .#{$prefix}#{$variant} {
      @if $prefix == "heading" {
        @extend %heading-font;
        margin: 0;
      } @else {
        @extend %content-font;
      }
      font-size: list.nth($font-values, 1);
      line-height: list.nth($font-values, 2);
      font-weight: list.nth($font-values, 3);
    }
  }
}

@mixin make-text-color-classes($prefix, $colors) {
  @each $variant, $color in $colors {
    .#{$prefix}--#{$variant} {
      color: $color;
    }
  }
}

@include make-text-size-classes("heading", $heading-sizes);
@include make-text-size-classes("text", $text-content-sizes);
@include make-text-color-classes("text", $colors);

.text--muted {
  color: var(--text-muted);
}

.text--link,
a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: var($--active);
  }
}

.text--super {
  background: var(--highligh-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text--underline {
  text-decoration: underline;
}

.text--code {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--secondary);
  background-color: var(--contrast);
  padding: 2px 8px;
  border-radius: 4px;
  white-space: pre-wrap;
  word-break: break-word;
  border: 1px solid var(--divider);
}
